﻿@model BookingApp.Models.Reservation

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Reservation</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Contact.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Contact.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CheckInDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CheckInDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CheckOutDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CheckOutDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GuessNum)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GuessNum)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumRooms)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumRooms)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ReservationId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
