﻿@model BookingApp.Models.CreditCard

@{
    ViewBag.Title = "Create";
}




@section Scripts {

    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>

    <script>
        $(function () {
            $('.datepicker').datepicker({
                changeMonth: true,
                changeYear: true,
                showButtonPanel: true,
                dateFormat: 'MM yy',
                onClose: function (dateText, inst) {
                    var month = $("#ui-datepicker-div .ui-datepicker-month :selected").val();
                    var year = $("#ui-datepicker-div .ui-datepicker-year :selected").val();
                    //yearRange: "-20:+0"
                    $(this).datepicker('setDate', new Date(year, month, 1));
                }
            });
        });
    </script>
    <style type="text/css">
        .ui-datepicker-calendar {
            display: none;
        }
    </style>



}
    <div class="row bg-title" style=" border-bottom:none">
        <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
            <h4>Payment Details</h4>
        </div>
        <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
            <a href="/" target="_blank" class="btn btn-danger pull-right m-l-20 btn-rounded btn-outline hidden-xs hidden-sm waves-effect waves-light">Main Menu</a>
            <ol class="breadcrumb">
                <li><a href="#">Home Page</a></li>
                <li class="active">Contact Information</li>
                <li class="active">Reservation</li>
                <li class="active">Payment Information</li>
            </ol>
        </div>
        <!-- /.col-lg-12 -->
    </div>



@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <div class="form-body">
            <hr class="m-t-0 m-b-40">

            <div class="row">
                <div class="col-md-5">
                    <div class="form-group">
                        <div class="col-md-8">
                            @Html.LabelFor(model => model.CreditType, htmlAttributes: new { @class = "control-label" })
                            @*@Html.EditorFor(model => model.CreditType, new { htmlAttributes = new { @class = "form-control" } })*@
                            <img src="~/Images/logo1.png" /> <br>
                            <asp:Image runat=”server” ImageURL=”~/Images/logo1.png”></asp:Image>
                            @Html.RadioButtonFor(model => model.CreditType, "V") Visa <br>
                            @Html.RadioButtonFor(model => model.CreditType, "M") Master Card <br>
                            @Html.RadioButtonFor(model => model.CreditType, "A") American Express <br> @* new { htmlAttributes = new { @class = "form-control" } })*@
                            @Html.ValidationMessageFor(model => model.CreditType, "", new { @class = "text-danger" })

                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-5">
                    <div class="form-group">
                        <div class="col-md-8">
                            @Html.LabelFor(model => model.CCName, htmlAttributes: new { @class = "control-label" })
                            @Html.EditorFor(model => model.CCName, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.CCName, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-5">
                    <div class="form-group">
                        <div class="col-md-8">
                            @Html.LabelFor(model => model.CCNum, htmlAttributes: new { @class = "control-label" })
                            @Html.EditorFor(model => model.CCNum, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.CCNum, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-5">
                    <div class="form-group">
                        <div class="col-md-8">
                            @Html.LabelFor(model => model.ExpireDate, htmlAttributes: new { @class = "control-label" })
                            @Html.EditorFor(model => model.ExpireDate, new { htmlAttributes = new { @class = "datepicker" } })
                            @Html.ValidationMessageFor(model => model.ExpireDate, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-actions">
                <div class="row">
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-8">
                                <input type="submit" value="Submit" class="btn btn-success" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
            </div>
            }





           


